{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Article Create{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 style="color: green;margin-bottom: 30px">Article Create</h2>
            {{ forms|crispy }}
            <button type="submit" class="btn btn-primary mt-2">Article Create</button>
            <a href="{% url 'blog:category_create' %}" type="button" class="btn btn-secondary mt-2">Category Create</a>
            <a href="{% url 'blog:articles_list' %}" class="btn btn-danger mt-2">Cancel</a>
            <br>
            <br>
        </form>
    </div>
{% endblock %}